@media screen and (max-width: 400px) {
  .fjl-title {
    font-size: 44px !important;
  }
}

@media print {
  ul.timeline {
    margin-top: 20px;
    li.timeline-event {
      min-height: inherit;
      margin-top: 0px;
      timeline-badge {
        display: none;
      }
      timeline-panel {
        border: 0px;
        width: 100%;
        p {
          max-width: 900px;
        }
        .timeline-heading h4 {
          font-size: 18px;
        }
      }
    }
  }
  .fjl-title.md-display-2 {
    font-size: 40px;
  }
  .hidden-print {
    display: none;
    visibility: hidden;
  }
  div > h1.text-center {
    text-align: left;
    font-size: 32px;
    margin: 0;
  }
  * {
    box-shadow: none !important;
  }
  [when-visible].hidden {
    visibility: visible;
    display: inherit;
  }

  md-content {
    padding-bottom: 0 !important;
  }
  .show-print {
    visibility: visible;
  }
  md-grid-tile {
    left: auto !important;
    right: auto !important;
    position: relative !important;
    float: left !important;
    width: 50% !important;
    display: inline-block !important;
    margin-top: 0px !important;
  }
  .fa.fa-star {
    color: black !important;
  }
  .show-print {
    visibility: visible !important;
  }
}
