<md-content layout="row" class="z-depth-5">
  <section class="md-padding" flex="50">
    <img style="width: 100%; height: auto;" src="https://static1.squarespace.com/static/570fc4338a65e27bed147ea1/5751eb5f60b5e94cd641a1cb/5757148a40261d96c4446694/1476201233835/FrankLamantia.png?format=400w">
  </section>
  <section class="md-padding" flex="50">
    <h1 class="fjl-title md-display-2">Frank J. Lamantia</h1>
    <h4 class="fjl-subheader md-subhead">Tech Executive &amp; Startup Enthusiast.  CTO @ CrossChx</h4>
    <md-divider />
    <md-list>
      <md-list-item>Extensive experience in research &amp; development.  Track record of building highly-available, mission-critical applications.</md-list-item>
      <md-list-item>Technical executive, leader and full stack engineer.</md-list-item>
      <md-list-item>Brought to you from Dublin, OH</md-list-item>
    </md-list>
  </section>
  <footer layout="row" layout-align="center center">
    <div class="md-contact-fab">
      <md-button class="md-fab md-raised blue darken-3 btn-floating" aria-label="LinkedIn" href="https://www.linkedin.com/in/frank-lamantia-5625b15" target="_blank"><i class="fa fa-linkedin"></i></md-button>
      <md-button class="md-fab black darken-3 btn-floating" aria-label="GitHub" href="http://frankjl.github.io" target="_blank"><i class="fa fa-github"></i></md-button>
      <md-button class="md-fab orange btn-floating" aria-label="Stack Overflow" href="http://stackoverflow.com/users/737186/frankjl" target="_blank"><i class="fa fa-stack-overflow"></i></md-button>
      <md-button class="md-fab blue btn-floating" aria-label="Twitter" href="https://twitter.com/frankjlamantia" target="_blank"><i class="fa fa-twitter"></i></md-button>
      <md-button class="md-fab yellow darken-1 btn-floating" aria-label="Email" href="mailto:frankjlamantia+github@gmail.com" target="_blank"><i class="fa fa-envelope"></i></md-button>
    </div>
  </footer>
</md-content>

<h1 class="text-center">Timeline</h1>
<timeline>
  <timeline-event side="alternate" ng-repeat="position in vm.positions">
    <timeline-badge class="{{position.badgeClass}}"></timeline-badge>
    <timeline-panel ng-click="vm.handle(position)" class="md-padding z-depth-4 hidden"  when-visible="vm.animateIn" when-not-visible="vm.animateOut">
      <timeline-heading>
        <h4>{{ position.title }}</h4>
        <h4 class="md-subhead fjl-subheader text-muted"><i ng-class="position.icon" ng-if="position.icon"></i> {{ position.subheader }}</h4>
      </timeline-heading>
      <h4 class="md-subhead" ng-if="position.items">Responsibilities</h4>
      <md-list-items ng-if="position.items">
        <md-list-item ng-repeat="item in position.items">{{ item }}</md-list-item>
      </md-list-items>
      <iframe ng-if="position.video" ng-src="{{ position.video.url }}" frameborder="0" allowfullscreen></iframe>
      <p ng-if="position.description">{{ position.description }}</p>
    </timeline-panel>
  </timeline-event>
</timeline>
